body{
	background-color: #7EA6E0;
	
}

#panel{
	background-color: #ffffff;
	text-align: center;
	margin: auto;
	width: 50%;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10%;
}
#panel *{
	border-radius: 5px;
}
#title{
	margin-bottom: 15px;
}


table{

  width: 60%;
  margin: 50px;
  border-collapse: collapse;
  text-align: left;

}
#address, #id, #name{

	width: 70%;
	background: #dcdcdc;
}
#remark {

	width: 70%;
	padding: 10%;
	background: #dcdcdc;
}



th, td {
	border:1px solid;
}
select{
  
    width: 130px;
	
}

button{
	background-color: #35B62C;
	width: 10%;
	
}
